.movie-list__container {
  padding: 1.875rem 0.9375rem;
}
.movie-list__movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 2.5rem;
}
.movie-list__item h2 {
  font-size: 3.125rem;
}