@use "sass:math";
@import "../../../assets/styles/_functions.scss";

.popular {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toREM(200), 1fr));
  column-gap: toREM(30);
  row-gap: toREM(40);
}
.title {
  color: #fff;
  text-align: center;
  margin-bottom: toREM(20);
}
