<header class="header">
  <div class="header__container">
    <a routerLink="" class="header__top">
      <img
        class="header__logo"
        src="../../../assets/icons/logo.svg"
        alt="logo"
      />
      <div class="header__name">P-theater</div>
    </a>
    <nav class="header__list">
      <li class="header__item">
        <a routerLink="favorite" class="header__link">
          <p class="pi pi-heart-fill"></p>
          <span>Favorite</span>
        </a>
      </li>
      <li class="header__item">
        <a routerLink="watch-later" class="header__link">
          <p class="pi pi-eye"></p>
          <span>Watch Later</span>
        </a>
      </li>
      <li class="header__item">
        <app-movie-sidebar></app-movie-sidebar>
      </li>
    </nav>
  </div>
</header>
