<div class="loading-card">
  <div class="loading-card__item">
    <div class="loading-card__image"></div>
    <div class="loading-card__overlay"></div>
  </div>
  <div class="loading-card__item">
    <div class="loading-card__title"></div>
    <div class="loading-card__overlay"></div>
  </div>
  <div class="loading-card__item">
    <div class="loading-card__content"></div>
    <div class="loading-card__overlay"></div>
  </div>
  <div class="loading-card__item">
    <div class="loading-card__desc"></div>
    <div class="loading-card__overlay"></div>
  </div>
  <div class="loading-card__item">
    <div class="loading-card__button"></div>
    <div class="loading-card__overlay"></div>
  </div>
</div>
