@if (movie) {
<p-card [header]="movie.title" [styleClass]="'movie-card'">
  <ng-template pTemplate="header">
    <img
      class="movie-card__img"
      [src]="
        movie.poster_path
          ? STATIC_IMAGE_PATH + movie.poster_path
          : 'https://upload.wikimedia.org/wikipedia/commons/6/65/No-Image-Placeholder.svg'
      "
      alt="Card"
      alt="movie"
    />
    <div class="movie-card__buttons">
      <p-button
        [rounded]="true"
        styleClass="w-full"
        [icon]="isInFavoriteList ? 'pi pi-heart-fill' : 'pi pi-heart'"
        (click)="
          isInFavoriteList
            ? deleteMovieFromFavoriteMovieList()
            : setToFavoriteMovieList()
        "
        [ngClass]="{ 'added-to-favorite': isInFavoriteList }"
      />
      <p-button
        [rounded]="true"
        icon="pi pi-eye"
        styleClass="w-full"
        severity="secondary"
        (click)="
          isInWatchList
            ? deleteMovieWatchLaterMovieList()
            : setToWatchLaterMovieList()
        "
        [ngClass]="{ 'added-to-watchlater': isInWatchList }"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="content">
    <p class="movie-card__release">
      <span class="movie-card__underline-text">Release:</span>
      {{ movie.release_date }}
    </p>
    @if (this.movieGenres.length > 0 && this.movieGenres) {
    <p class="movie-card__genre">
      <span class="movie-card__underline-text">Genres:</span>
      <ng-container *ngFor="let genre of movieGenres; let i = index">
        {{ genre }}<span *ngIf="i < movieGenres.length - 1">,</span>
      </ng-container>
    </p>
    }
    <p class="movie-card__rating">
      <span class="movie-card__underline-text">Rating:</span>
      {{ movie.vote_average | mathRound }}
    </p>
    <ng-content></ng-content>
    @if (this.isShortDescriptionNeeded === true) {
    <p class="movie-card__description">
      {{ movie.overview | reduceString }}
    </p>
    }@else {
    <p class="movie-card__description">{{ movie.overview }}</p>
    }
  </ng-template>
  <ng-template pTemplate="footer">
    <a pButton class="show-more-link" [routerLink]="'/movie/' + movie.id"
      >Show more</a
    >
  </ng-template>
</p-card>
}
