<div class="movie-list">
  <div class="movie-list__container">
    <div class="movie-list__movies">
      @for (movie of moviesList; track movie.id) {
      <app-movie-card
        [movie]="movie"
        (addFavorite)="handleAddFavorite($event)"
        (addWatchList)="handleWatchList($event)"
      ></app-movie-card>
      }
    </div>
    <div class="movie-list__item favorite-movies">
      <h2 class="favorite-movies__title">Favorite movies</h2>
      <div class="favorite-movies__content">
        @for (favMovie of favoriteList; track favMovie.id) {
        <app-movie-card
          [movie]="favMovie"
          (addFavorite)="handleAddFavorite($event)"
          (addWatchList)="handleWatchList($event)"
        ></app-movie-card>
        }
      </div>
    </div>
    <div class="movie-list__item watch-movies">
      <h2 class="watch-movies__title">Watch later</h2>
      <div class="watch-movies__content">
        @for (watchLaterMovie of watchLaterList; track watchLaterMovie.id) {
        <app-movie-card
          [movie]="watchLaterMovie"
          (addFavorite)="handleAddFavorite($event)"
          (addWatchList)="handleWatchList($event)"
        ></app-movie-card>
        }
      </div>
    </div>
  </div>
</div>
