@use "sass:math";
@import "assets/styles/_functions.scss";

// Body styling
body {
  background-color: var(--gray-900);
}

// Styles for card-lists (grid)

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(toREM(200), 1fr));
  column-gap: toREM(30);
  row-gap: toREM(40);

  width: 100%;

  @media (max-width: toEM(768.98)) {
    gap: toREM(15);
  }
  @media (max-width: toEM(444)) {
    justify-items: center;
  }

}

// Styles for page-components titles
.page-title {
  color: var(--pink-100);
  font-size: toREM(50);
  text-align: center;
  margin-bottom: toREM(20);
  text-transform: capitalize;

  @media (max-width: toEM(425.98)) {
    margin-bottom: toREM(10);
    font-size: toREM(36);
  }
}

// Styles for empty pages
.empty {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: toREM(15);

  animation: empty-appearance 0.7s ease-out;
  &__img {
    max-width: toREM(50);
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__text {
    color: var(--gray-50);
    font-size: toREM(24);
  }
}

@keyframes empty-appearance {
  0% {
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

// Error or no movies are found
.no-movies {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  img {
    width: 50px;
    height: 50px;
  }
  p {
    font-size: toREM(25);
    color: #fff;
  }
}

.btn{
  border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}