@use "sass:math";
@import "assets/styles/_functions.scss";

// For movie-cards and cards
.movie-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: stretch;
}

// Cards
.p-card-title {
  font-size: toREM(22);
  margin-bottom: toREM(15);
  line-height: 1.2;
}
.p-card-header {
  position: relative;
}
.p-card-subtitle {
  margin: 0;
}
.p-card-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.p-card-content {
  display: flex;
  flex-direction: column;
  row-gap: toREM(10);
  font-size: toREM(14);
  padding: 0;
}
.p-card-footer {
  margin-top: auto;
}

// Button-icon
.p-button-icon {
  &::before {
    font-size: toREM(23);
    color: #ffffff;
  }
}

// Added buttons
.added-to-favorite {
  .p-button {
    background: #df2563;
    border: 1px solid #df2563;
  }
}
.added-to-watchlater {
  .p-button {
    background: #485961;
    border: 1px solid #485961;
  }
}

// For sidebar
.p-sidebar {
  border: none;
}
.p-sidebar-content {
  padding: 0;
}

// For auth-modal window
.auth-modal {
  width: 50vw;
  .p-dialog-header {
    text-align: center;
  }
  .p-dialog-title {
    font-size: toREM(36);
  }
  .p-dialog-content {
    display: flex;
    flex-direction: column;
    gap: toREM(15);
  }
}

// Searching
.searching {
  input {
    font-size: toREM(16);
    padding: toREM(7);
  }

  .p-autocomplete-panel {
    max-width: toREM(600);
    margin-right: toREM(20);
  }

  &.error {
    animation: form-error 2s linear;
  }
}

@keyframes form-error {
  0% {
    outline: 1px solid red;
  }
  100% {
    outline: 1px solid #4b4b4b;
  }
}
