<header class="search">
  <form
    #searchForm="ngForm"
    class="search__body"
    (ngSubmit)="onSubmit(searchForm)"
  >
    <label class="search__label" for="search">Search a movie </label>

    <p-autoComplete
      [(ngModel)]="selectedItem"
      [suggestions]="movies"
      (completeMethod)="input($event)"
      name="search"
      id="search"
      [field]="'title'"
      (onSelect)="onSelect($event)"
    >
      <ng-template let-movie pTemplate="item">
        <div>
          <p>{{ movie.title }}</p>
        </div>
      </ng-template>
    </p-autoComplete>

    <p-button label="Submit" type="Submit" />
  </form>
</header>
