@use "sass:math";
@import "../../../assets/styles/_functions.scss";
.search {
  padding-bottom: toREM(15);
  position: relative;
  padding-top: toREM(100);

  @media (max-width: toEM(620.98)) {
    padding-top: toREM(70);
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: toREM(10);
    flex-wrap: wrap;
    column-gap: toREM(20);
  }
  &__label {
    color: var(--text-color);
    font-size: toREM(30);

    @media (max-width: toEM(768.98)) {
      font-size: toREM(24);
    }
    @media (max-width: toEM(526.98)) {
      display: none;
    }
  }

  &__inner {
  }
  &__input {
    padding: toREM(7) toREM(5);
    font-size: toREM(20);

    &:focus {
      outline: 1px solid var(--primary-color);
    }
  }
}
